div {
			width: 50%;
			float: left;
		}
		h1 {
			color: blue;
		}
		p {
			margin-top: 50px;
			font-style: none;
		}
		p, ul, ol {
			color: green;
		}
		img {
			max-width: 100%;
		}
		#heading {
			font-size: 50px;
		}

		.paragraph {
			font-style: italic;
		}

		p.paragraph.introduction.featured {
			padding-left: 20px;
		}

		div ul li {
			background-color: #ff3;
		}